.dashboard-pg{
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1300px;
  @include flexCol;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
  }
}

.dashboard-teams{
  @include flexCol;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

.teams{
  flex-basis: 250px;
  border:1px solid black;
  margin: 10px;
  img{
    height: 80%;
    width: 100%;
  }
  a{
    text-decoration: none;
    color: black;
    text-align: center;
  }
}