.subteam-pg{
  height: 100%;
  padding: 80px;
  hr{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1);
  }
}

.subteam-manage{
  margin: 20px;
}

.subteam-data{
  img{
    position: relative;
    height: 500px;
    max-width: 100%;
    padding: 20px;
    margin: 20px;
    z-index: -1;
    border-radius: 50px;
  }
  p{
    padding: 15px;
  }
}
