/** page section **/
.page1{
  @include pageProps;
  background-color: $homepage-top;
  margin-top:-61px;
  h1{
    text-align: center;
    font-size: $sm-fs;
    &:first-of-type{
      padding-top:100px;
    }
  }
  @media screen and (min-width:767px){
    h1{
      font-size: $md-fs;
    }
  }
  @media screen and (min-width:1025px){
    h1{
      text-align:left;
      font-size: $lg-fs;
      &:nth-of-type(1){
        margin-left: 200px;
        padding-top: 12%;
      }
      &:nth-of-type(2){
        margin-left: 400px;
      }
      &:nth-of-type(3){
        margin-left: 300px;
      }
    }
  }
  @media screen and (min-width: 1500px){
    h1{
      font-size: $xl-fs;
    }
  }
}

.page2{
  position:relative;
  @include pageProps;
  background-color: $homepage-2;
  @extend .pg-header;
  .description{
    color:$UCD-color;
    font-size: 20px;
  }
  @media screen and (min-width:767px){
    .description{
      font-size:25px;
      @include centerV;
    }
  }
}

.page3{
  position:relative;
  background-color: $homepage-top;
  background-image:$team-bg-img;
  @include pageProps;
  @include image-bg;
  @extende .pg-header;
  h1{
    font-size:40px;
  }
}
.btn-div{
  position:absolute;
  bottom: 15%;
  width: 100%;
}
.btn-3d{
  position:relative;
  outline:none;
  border:none;
  cursor:pointer;
  display:block;
  background-color:#1A3E68;
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:16px;
  padding:15px 25px;
  border-radius:15px;
  margin:0 auto;
  box-shadow: 0 6px #002855;
}
.btn-3d:hover{
  box-shadow: 0 4px #002855;
  top:2px;
}

.btn-3d:active{
  box-shadow:none;
  top:6px;
}

.page4{
  @include pageProps;
  background-color: $homepage-2;
  @extend .pg-header;
}
