/*==============================
              Color 
**=============================*/

/** background color **/

// homepage
$homepage-top: #212F3D; 
$homepage-2: #273746; 

// footer
$footer: #212F3D;

// login
$login-bg:#0099CC;

/** font **/
$UCD-color : #DAAA00;
$sm-fs: 40px;
$md-fs: 100px;
$lg-fs: 130px;
$xl-fs: 150px;

/** image **/
$team-bg-img: url('../images/team-img.png');
/*==============================
            Properties 
**=============================*/

@mixin pageProps{
  width: 100%;
  height: 100vh;
}

@mixin centerV{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin image-bg{
  position:relative;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
/*==============================
              Body
**=============================*/
/** global classes **/
html,body{
  height: 100%;
  width: 100%;
  position: relative;
}

h1{
  color:$UCD-color;
}

/** import files **/
@import "navbar";
@import "login";
@import "homepage";
@import "footer";
/** classes **/

.container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.container{
  height: 100%;
  .row{
    height: 100%;
  }
}

.pg-header{
  padding-top: 40px;
  h1{
    text-align: center;
    font-size: $sm-fs;
  }
  @media screen and (min-width:767px){
    .pg-header{
      @include centerV;
      padding-top: 0;
      h1{
        font-size: $md-fs - 20px;
      }
    }
  }
  @media screen and (min-width:1023px){
    h1{
      font-size: $lg-fs;
    }
  }
}
  
/** admin page **/
.admin-pg{
 position:relative;
  @include pageProps;
  background-color: $homepage-top;
}


