/*==============================
              Color 
**=============================*/

/** background color **/
// navbar 
$navbar-bg: #273746;

// homepage
$homepage-top: #212F3D; 
$homepage-2: #273746; 

// footer
$footer: #212F3D;

// login
$login-bg:#0099CC;

/** font **/
$UCD-color : #DAAA00;
$sm-fs: 40px;
$md-fs: 100px;
$lg-fs: 130px;
$xl-fs: 150px;

/** spacing **/
$space-top:150px;

/** image **/
$team-bg-img: url('../images/team-img.png');
/*==============================
            Properties 
**=============================*/

@mixin pageProps{
  width: 100%;
  height: 100vh;
  padding: 25px;
}

@mixin centerV{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin image-bg{
  position:relative;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
/*==============================
              Body
**=============================*/
/** global classes **/
html,body{
  height: 100%;
  width: 100%;
  position: relative;
  font-size:16px;
  text-rendering: optimizeLegibility;
  // overflow-x: hidden;
}

h1{
  color:$UCD-color;
}

/** import files **/
@import "navbar";
@import "login";
@import "homepage";
@import "footer";
@import "teams";
@import "subteam";
/** classes **/

.container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.container{
  height: 100%;
  .row{
    height: 100%;
  }
}

  
/** admin page **/
.admin-pg{
 position:relative;
  @include pageProps;
  background-color: $homepage-top;
}


