/** navbar section **/
.bg-light{
  background-color:$homepage-2 !important; 
}
.nav-link{
  color:$UCD-color !important;
}
.navbar-toggler{
  border:1px solid $UCD-color;
  border-color:$UCD-color;
}