/** admin navbar **/
$nav-bg: #003399;
$nav-item-hover: #CCFFCC;

/** client navbar **/
$nav-client-color:#F4E5B2;
$nav-client-hover:#DEB31A;
$nav-client-active:#DAAA00;

/** navbar section for admin **/
.bg-light{
  background-color:$homepage-2 !important; 
}
.nav-link{
  color:$UCD-color !important;
}
.navbar-toggler{
  border:1px solid $UCD-color;
  border-color:$UCD-color;
}

.navigator{
  z-index:100;
  position:fixed;
  background-color: $nav-bg;
  padding:0 !important;
  margin:0 !important;
  ul{
    width:100%;
    margin:0;
    margin:10px 0 0px 0;
    -webkit-padding-start:0;
    list-style-type: none;
    li{
      display:inline;
      width:100%;
      padding-right:0;
      padding-left:0;
      // padding:10px;
      text-align:center;
      a{
        color:#CCFFCC;
        font-size:20px;
        display: block;      
        padding: 10px;
      }
      &:hover{
        background-color:$nav-item-hover;
        a{
          color:black;
          text-decoration: none;
        }
      }
    }
  }
  .nav-admin-active{
    background-color:red;
    a{
      color:black;
    }
  }
  @media screen and (min-width:767px){
    height:100vh;
    ul{
      // padding-top:40px;
      li{
        margin-bottom:30px;
        // padding:5px;
        a{
          font-size:30px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  @media screen and (min-width: 1200px){
    ul{
      li{
        a{
          font-size:20px;
        }
      }
    }
  }
}

/* navbar section for client */
header{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding:5px;
  animation: 1s fadein 0.5s forwards;
  h2{
    color:white;
  }
  @media screen and (min-width:767px){
    flex-direction: row;
    justify-content: space-between;
    h2{
      margin-left:20px;
    }
  }
}
.nav-client{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  li{
    list-style: none;
    width: 80px;
    text-align: center;
  }
  a{
    font-size:45px;
    color:$nav-client-color;
    border-bottom: 1px solid $nav-client-color;
    height: 100%;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s ease-in;
    span{
      display: none;      
    }
    &:hover{
      color: $nav-client-hover;
      border-bottom: 1px solid $nav-client-hover;
    }
  }

  @media screen and (min-width:767px){
    justify-content: flex-end;
    li{
      margin-right:20px;
      width:125px;
      a{
        font-size: 25px;
        span{
          display: inline-block !important;
        }
        i{
          margin-right:2px;  
        }
      }
    }
  }
}
.nav-client-active{
  a{
    color: $nav-client-active !important;
    border-bottom: 1px solid $nav-client-active !important;
  }
}

