{{!-- top page --}}
<section class="page1">
  <div>
    <h1>Believe</h1>
    <h1>In</h1>
    <h1>The Hype</h1>
  </div>
</section>

{{!-- second page --}}
<section class="page2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="info">
          <h1>The</h1>
          <h1>Hyper</h1>  
          <h1> - Loop</h1>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="description">
          <p> 
            What if there was a way to connect cities
            that are hundreds of miles a part for much
            less than a tank of gas? what if this mode
            of transportation only took 30 minutes from
            one end to another? This is the future,
            this is hyperloop.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- third page --}}
<section class="page3">
  <div>
    <h1>our team</h1>
  </div>
</section>

{{!-- fourth page --}}
<section class="page4">
  <div>
    <h1> our sponsor</h1>
  </div>
</section>
{{!-- fifth page --}}
<section class="page5">
  <div>
    <h1>contact us</h1>
  </div>
</section>