{{!-- top page --}}
<section class="page1">
  <div class="home-content animated fadeInUp">
    <h1>Believe</h1>
    <h1>In</h1>
    <h1>The Hype</h1>
  </div>
</section>

{{!-- Intro Hyperloop --}}
<section class="page2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 col-md-5 col-lg-6 animated effect">
        <div class="pg-header">
          <h1>The <br> Hyper <br> - Loop</h1>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6 animated effect">
        <div class="description">
          <p> 
            What if there was a way to connect cities
            that are hundreds of miles a part for much
            less than a tank of gas? what if this mode
            of transportation only took 30 minutes from
            one end to another? This is the future,
            this is hyperloop.
            <a href="http://www.spacex.com/hyperloopalpha">[Learn more]</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- UCD Hyperloop team --}}
<section class="page3">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-12 col-md-4 col-lg-6 order-md-8 .offet-lg-6 animated effect">
        <div class="pg-header">
          <h1>UCD <br> Hyper Team </h1>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 order-md-4 order-lg-6 animated effect">
        <div class="team-img">
          <img src="../images/team-img.png" alt="team-img">
        </div>
        <div class="btn-div">
          <a href="/teams">
            <button class="btn-3d">Our team</button>
          </a>
        </div>
      </div>
    </div>
  </div>  
</section>

{{!-- Sponsor page --}}
<section class="page4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="pg-header animated effect">
          <h1>Our <br> Sponsors </h1>
        <div class="description animated effect">
          <p> 
            UC Davis is a school built on connectivity. Unlike other teams, we want to focus on the future of Hyperloop technology. By competing in this competition we can showcase our own design and participate in an amazing opportunity to advance transportation, but we also want to look forward and implement our own hyperloop system here in Davis, California. It’s a large goal for our university, but we are determined to develop faster and more efficient solutions to travel. With your help, we can make this goal a reality!
          </p>
        </div>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6 animated effect">
      </div>
    </div>
  </div>
</section>