/*==============================
              Color 
**=============================*/
/** background color **/
/** font **/
/*==============================
            Properties 
**=============================*/
/*==============================
              Body
**=============================*/
/** global classes **/
html, body {
  height: 100%;
  width: 100%;
  position: relative; }

h1 {
  color: #DAAA00; }

/** import files **/
/** navbar section **/
.bg-light {
  background-color: #273746 !important; }

.nav-link {
  color: #DAAA00 !important; }

.navbar-toggler {
  border: 1px solid #DAAA00;
  border-color: #DAAA00; }

.login {
  height: 85%;
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0099CC;
  padding: 20px;
  padding-top: 50px;
  border-radius: 15px 50px;
  font-size: 0.5em; }
  .login h2 {
    text-align: center; }
  .login label {
    font-size: 30px;
    color: white; }
  .login .button {
    text-align: center; }
  @media (min-width: 767px) {
    .login {
      height: 700px;
      width: 400px; } }

/** page section **/
.page1 {
  width: 100%;
  height: 100vh;
  background-color: #212F3D;
  margin-top: -56px; }
  .page1 h1 {
    text-align: center;
    font-size: 40px; }
    .page1 h1:first-of-type {
      padding-top: 100px; }
  @media screen and (min-width: 767px) {
    .page1 h1 {
      font-size: 100px; } }
  @media screen and (min-width: 1025px) {
    .page1 h1 {
      text-align: left;
      font-size: 130px; }
      .page1 h1:nth-of-type(1) {
        margin-left: 200px;
        padding-top: 12%; }
      .page1 h1:nth-of-type(2) {
        margin-left: 400px; }
      .page1 h1:nth-of-type(3) {
        margin-left: 300px; } }
  @media screen and (min-width: 1500px) {
    .page1 h1 {
      font-size: 150px; } }

.page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #273746; }
  .page2 .description {
    color: #DAAA00;
    font-size: 20px; }
  @media screen and (min-width: 767px) {
    .page2 .description {
      font-size: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); } }

.page3 {
  position: relative;
  background-color: #212F3D;
  width: 100%;
  height: 100vh;
  @extende .pg-header; }
  .page3 h1 {
    font-size: 40px; }

.page4 {
  width: 100%;
  height: 100vh;
  background-color: #273746; }

footer {
  background-color: #404040;
  position: relative;
  width: 100%;
  height: 50vh; }

/** classes **/
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.container {
  height: 100%; }
  .container .row {
    height: 100%; }

.pg-header, .page2, .page4 {
  padding-top: 40px; }
  .pg-header h1, .page2 h1, .page4 h1 {
    text-align: center;
    font-size: 40px; }
  @media screen and (min-width: 767px) {
    .pg-header .pg-header, .page2 .pg-header, .page4 .pg-header, .pg-header .page2, .page2 .page2, .page4 .page2, .pg-header .page4, .page2 .page4, .page4 .page4 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-top: 0; }
      .pg-header .pg-header h1, .page2 .pg-header h1, .page4 .pg-header h1, .pg-header .page2 h1, .page2 .page2 h1, .page4 .page2 h1, .pg-header .page4 h1, .page2 .page4 h1, .page4 .page4 h1 {
        font-size: 80px; } }
  @media screen and (min-width: 1023px) {
    .pg-header h1, .page2 h1, .page4 h1 {
      font-size: 130px; } }

/** admin page **/
.admin-pg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #212F3D; }

/*# sourceMappingURL=style.css.map */
