<!-- top page -->
<section class="page1">
  <div class="home-content">
    <video class="video" playsinline autoplay muted loop>
      <source src="videos/video1.mp4" type="video/mp4"> 
    </video>
  </div>

</section>

<!-- Intro Hyperloop -->
<section class="page2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="pg-header">
          <h1 class="animated effect">What is <br> Hyperloop?</h1>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="description">
          <p class="animated effect"> 
            Hyperloop is a new form of transportation that uses vacuum tubes to shoot a pod to speeds up to 700 miles per hour. The idea behind this new form of transportation is to create a rapid, end-to-end way to travel between 100 and 1000 miles.
            <a href="http://www.spacex.com/hyperloopalpha" target="_blank">[Learn more]</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- UCD Hyperloop team -->
<section class="page3">
  <div class="container">
    <div class="pg-header">
      <h1 class="animated effect" >Meet the Team <br> at <br> UC Davis </h1>
    </div>
    <div class="team-img">
      <img src="../images/team-img.png" alt="team-img">
    </div>
    <div class="btn-div animated effect">
      <a href="/teams">
        <button class="btn-3d">Our team</button>
      </a>
    </div>
  </div>
</section>

{{!-- Sponsor page --}}
<section class="page4">
  <div class="container">
    <div class="sponsor-header">
      <h1 class="animated effect">Our <br> Sponsors</h1>
      <div class="sponsor-list">
        <ul>
          <a href="http://www.aircaster.com/" target="_blank">
            <img src="../images/sponsor-logo/aircafter.png" alt="ac-logo">
          </a>
          <a href="https://www.ansys.com/" target="_blank">
            <img src="../images/sponsor-logo/ansys.jpg" alt="an-logo">
          </a>
          <a href="http://citris-uc.org/" target="_blank">
            <img src="../images/sponsor-logo/citris.png" alt="ct-logo">
          </a>
          <a href="http://mae.ucdavis.edu/" target="_blank">
            <img src="../images/sponsor-logo/UCD-MAE.jpg" alt="mae-logo">
          </a>
        </ul>
      </div>
    </div>
    <div class="sponsor-description">
      <p class="animated effect">
        Help us reach our goal in promoting advance, efficient and fast transportation technology!
      </p>
      
        <button class="btn-trans"><a href="/contact">Sponsor us</a></button>
    </div>
  </div>
</section>

<!-- Advisor page -->
<section class="page5">
  <div class="container">
    <div class="sponsor-header">
      <h1 class="animated effect">Our <br> Advisors</h1>
      <div class="advisor-list">
        <ul>
          <a href="https://faculty.engineering.ucdavis.edu/vandam/" target="_blank">
            <img src="../images/advisors/CaseVanDam.png" alt="ac-logo">
            <h3>Dr. Case van Dam</h3>
            <p>Associate Dean for Facilities and Capital Planning, College of Engineering Professor, Mechanical and Aerospace Engineering</p>
          </a>
          <a href="https://faculty.engineering.ucdavis.edu/delwiche/" target="_blank">
            <img src="../images/advisors/MichaelDelwinche.png" alt="ct-logo">
            <h3>Dr. Michael Delwiche</h3>
            <p>Professor of Engineering</p>
          </a>
          <a href="http://thegordonlab.net/lab-personnel-2-2/" target="_blank">
            <img src="../images/advisors/ThomasGordon.png" alt="mae-logo">
            <h3>Dr. Thomas Gordon</h3>
            <p>Distinguished Professor of Plant Pathology</p>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>
