{{!-- top page --}}
<section class="page1">
  <div class="home-content animated fadeInUp">
    <h1>Believe</h1>
    <h1>In</h1>
    <h1>The Hype</h1>
  </div>

</section>

{{!-- Intro Hyperloop --}}
<section class="page2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="pg-header">
          <h1 class="animated effect">The <br> Hyper <br> - Loop</h1>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="description">
          <p class="animated effect"> 
            What if there was a way to connect cities
            that are hundreds of miles a part for much
            less than a tank of gas? what if this mode
            of transportation only took 30 minutes from
            one end to another? This is the future,
            this is hyperloop.
            <a href="http://www.spacex.com/hyperloopalpha">[Learn more]</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- UCD Hyperloop team --}}
<section class="page3">
  <div class="container">
    <div class="pg-header">
      <h1 class="animated effect" >Hyper Team <br> at <br> UC Davis </h1>
    </div>
    <div class="team-img animated effect">
      <img src="../images/team-img.png" alt="team-img">
    </div>
    <div class="btn-div animated effect">
      <a href="/teams">
        <button class="btn-3d">Our team</button>
      </a>
    </div>
  </div>
</section>

{{!-- Sponsor page --}}
<section class="page4">
  <div class="container">
    <div class="sponsor-header">
      <h1 class="animated effect">Our <br> Sponsors </h1>
      <div class="sponsor-list">
        <h1 class=" animated effect">Lists of sponsor</h1>
      </div>
    </div>
    <div class="sponsor-description">
      <p class="animated effect"> 
        Help us reach our goal in promoting advance, efficient and fast transportation technology! Click here to learn more about sponsoring!
      </p>
    </div>
  </div>
</section>