
<section class="teams-page">
  <img src="../images/team-img.png" alt="team-img">
  <div class="team-contents">
    <p>The UC Davis Hyperloop team is made up of 84 members. We have an engineering division with multiple sub-teams within and a business team. Click on one of the subteam below to learn more about us!</p>
    <hr />
    <div class="sub-team-list">
      {{#each teams}}
        <div class="sub-team-item">
          <a href="/teams/{{this.team}}">
            <p>{{this.display}}</p>
            <img src={{this.team_img}} alt="">
          </a>
        </div>
      {{/each}}
    </div>
  </div>

</section>