
<section class="teams-page">
  <div class="team-img">
    <img src="../images/team-img.png" alt="team-img">
  </div>
  <div class="team-contents">
    <h1>Intro</h1>
    <div class="sub-team-list">
      {{#each teamData}}
        <div class="sub-team-item">
          <a href="/teams/{{this.team}}">
            <img src="" alt="">
            <p>{{this.team}}</p>
          </a>
        </div>
      {{/each}}
    </div>
  </div>

</section>