.contact-pg{
  @include pageProps;
  @include flexCol;
  background-color: $homepage-top;
  justify-content: space-around;
  padding-top: $space-top;
  @media screen and (min-width:768px){
    justify-content: flex-start
  }
  @media screen and (min-width:1024px){
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    padding-top:200px;
  }

}

.contact-info{
  width:100%;
  h1{
    text-align: center;
  }
  h5:first-of-type{
    color: white;
    text-align: center;
    margin: 40px 0;
    line-height: 1.4em;
  }
  @media screen and (min-width:667px){
    h5:first-of-type{
      width: 450px;
      margin: 40px auto;
    }
  }
  @media screen and (min-width:1024px){
    flex-basis: 500px;
    
  }
}

.emailer{
  width: 100%;
  @include flexCol;
  justify-content: space-around;
  align-items: space-around;
  textarea{
    height: 200px;
  }
  @media screen and (min-width:768px){
    width: 500px;
    align-self: center;
    margin-top: 100px;
  }
  @media screen and (min-width:1024px){
    align-self: flex-start;
    margin-top:0;
  }
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  button{
    align-self: center;
    width: 100px;
  }
}

