.pg-header{
  padding-top: 40px;
  h1{
    text-align: center;
    font-size: $sm-fs;
  }
  @media screen and (min-width:767px){
    @include centerV;
    .pg-header{
      padding-top: 0;
      h1{
        font-size: $md-fs - 20px;
      }
    }
  }
  @media screen and (min-width:1023px){
    h1{
      font-size: $lg-fs;
    }
  }
}

.effect{
  opacity: 0;
}

/** page section **/
.page1{
  @include pageProps;
  background-color: $homepage-top;
  .home-content{
    padding-top:$space-top;
    h1{
      text-align: center;
      font-size: $sm-fs;
    }
    @media screen and (min-width:767px){
      h1{
        font-size: $md-fs;
      }
    }
    @media screen and (min-width:1025px){
      h1{
        text-align:left;
        font-size: $lg-fs;
        &:nth-of-type(1){
          margin-left: 200px;
        }
        &:nth-of-type(2){
          margin-left: 400px;
        }
        &:nth-of-type(3){
          margin-left: 300px;
        }
      }
    }
  }
  @media screen and (min-width: 1500px){
    h1{
      font-size: $xl-fs;
    }
  }
}

.page2{
  position:relative;
  @include pageProps;
  background-color: $homepage-2;
  @extend .pg-header;
  .description{
    margin-top: 40px;
    color:white;
  }
  @media screen and (min-width:767px){
    .description{
      height: 100%;
      // font-size:25px;
      @include centerV;
    }
  }
}

/** UCD team section **/
.page3{
  position:relative;
  background-color: $homepage-top;
  // background-image:$team-bg-img;
  @include pageProps;
  @include image-bg;
  @extend .pg-header;
  h1{
    font-size:40px;
  }
}
.team-img{
  margin-top: 50px;
  img{
    max-width: 100%;
  }
  @media screen and (min-width:767px){
    margin-top:0;
  }
}
.btn-div{
  margin-top:50px;
  a{
    text-decoration: none;
  }
}

.btn-3d{
  position:relative;
  outline:none;
  border:none;
  cursor:pointer;
  display:block;
  background-color:#1A3E68;
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:16px;
  padding:15px 25px;
  border-radius:15px;
  margin:0 auto;
  box-shadow: 0 6px #002855;
  &:hover{
    box-shadow: 0 4px #002855;
    top:2px;
  }
  &:active{
    box-shadow:none;
    top:6px;
  }
}

/** Sponsor section **/
.page4{
  @include pageProps;
  background-color: $homepage-2;
  .sponsor-header{
    @extend .pg-header;
    @media screen and (min-width:767px){
      justify-content: center;
    }
  }
  .sponsor-description{
    margin-top:35px;
    color:white;
  }
  .sponsor-list{
    @include centerV;
  }
}

/** animation **/
@keyframes slideup {
  100%{
    opacity: 1;
    padding-top:120px;
  }
}