
/** client navbar **/
$nav-client-color:#F4E5B2;
$nav-client-hover:#DEB31A;
$nav-client-active:#DAAA00;


/* navbar section for client side*/
header{
  z-index: 100;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  // padding:5px;
  opacity: 1;
  // animation: 0.7s fadein 0.5s forwards;
  background-color: $navbar-bg;
  h2{
    color:white;
  }
  @media screen and (min-width:767px){
    flex-direction: row;
    justify-content: space-between;
    h2{
      margin-left:20px;
    }
  }
}
.nav-client{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  li{
    list-style: none;
    width: 80px;
    text-align: center;
  }
  a{
    font-size:22px;
    color:$nav-client-color;
    // border-bottom: 1px solid $nav-client-color;
    height: 100%;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in;
    i{
      display: none;      
    }
    &:hover{
      color: $nav-client-hover;
      // border-bottom: 1px solid $nav-client-hover;
    }
  }

  @media screen and (min-width:767px){
    justify-content: flex-end;
    li{
      margin-right:20px;
      width:125px;
      a{
        font-size: 25px;
        i{
          display: inline-block !important;
        }
        i{
          margin-right:2px;  
        }
      }
    }
  }
}
.nav-client-active{
  a{
    color: $nav-client-active !important;
    // border-bottom: 1px solid $nav-client-active !important;
  }
}

/** animation section **/
@keyframes fadein{
  100%{
    opacity: 1;
  }
}

