.subteam-pg{
  height: 100%;
  margin-bottom: 500px;

  hr{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1);
  }

  h2 {
    color: $main-header;
  }

  @media screen and (max-width:767px) {
   padding: 80px; 
  }
}

.subteam-manage{
  margin: 20px;
}

.subteam-data{
  img{
    position: relative;
    display: block;
    max-width: 100%;
    z-index: -1;
    margin: 30px auto;
    @media screen and (min-width: 767px){
      height: 300px;
      width: 400px;
      margin: 20px auto;
    }
    @media screen and (min-width: 1024px){
      height: 600px;
      width: 800px;
    }
  }
  p{
    padding: 15px;
    min-height: 40vh;
  }
}
