.pg-header{
  padding-top: 40px;
  h1{
    text-align: center;
    // font-size: $sm-fs;
  }
  @media screen and (min-width:767px){
    @include centerV;
    .pg-header{
      padding-top: 0;
      h1{
        // font-size: $md-fs;
      }
    }
  }
  @media screen and (min-width:1023px){
    h1{
      // font-size: $lg-fs;
    }
  }
}

.effect{
  opacity: 0;
}

/** page section **/
.page1{
  @include pageProps;
  // background-color: $homepage-top;
  // background-image: url('../../images/ship-bg.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
    .home-content{
    padding-top:$space-top - 90px;
    h1{
      text-align: center;
      // font-size: $sm-fs;
    }
    @media screen and (min-width:767px){
      h1{
        // font-size: $md-fs;
      }
    }
    @media screen and (min-width:1025px){
      // h1{
      //   text-align:left;
      //   // font-size: $lg-fs;
      //   &:nth-of-type(1){
      //     margin-left: 200px;
      //   }
      //   &:nth-of-type(2){
      //     margin-left: 400px;
      //   }
      //   &:nth-of-type(3){
      //     margin-left: 300px;
      //   }
      // }
    }
  }
  @media screen and (min-width: 1500px){
    h1{
      // font-size: $xl-fs;
    }
  }
}
.video-bg{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;

  // iframe {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   pointer-events: none;
  // }
}


/** Hyperloop description */
.page2{
  position:relative;
  @include pageProps;
  background-color: $homepage-2;
  @extend .pg-header;
  .description{
    margin-top: 40px;
    color:white;
  }
  @media screen and (min-width:767px){
    .description{
      height: 100%;
      margin-top:0;
      @include centerV;
    }
  }
}

/** UCD team **/
.page3{
  position:relative;
  background-color: $homepage-top;
  // background-image:$team-bg-img;
  @include pageProps;
  @include image-bg;
  @extend .pg-header;
  h1{
    font-size:40px;
  }
}
.team-img{
  margin-top: 50px;
  text-align: center;
  img{
    max-width: 100%;
  }
  @media screen and (min-width:767px){
    margin-top:0;
  }
}
.btn-div{
  margin-top:50px;
  a{
    text-decoration: none;
  }
}

.btn-3d{
  position:relative;
  outline:none;
  border:none;
  cursor:pointer;
  display:block;
  background-color:#1A3E68;
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:16px;
  padding:15px 25px;
  border-radius:15px;
  margin:0 auto;
  box-shadow: 0 6px #002855;
  &:hover{
    box-shadow: 0 4px #002855;
    top:2px;
  }
  &:active{
    box-shadow:none;
    top:6px;
  }
}

/** Sponsor section **/
.page4{
  @include pageProps;
  background-color: $homepage-2;
  .sponsor-header{
    @extend .pg-header;
    @media screen and (min-width:767px){
      justify-content: center;
    }
  }
  .sponsor-description{
    margin: 0 auto;
    margin-top:35px;
    color:white;
    max-width: 500px;
    p{
      text-align: center;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
  .sponsor-list{
    min-height: 300px;
    @include centerV;
    text-align: center;
    ul{
      margin: 0;
      padding: 0;
      a{
        text-decoration: none;
        transition: filter 0.5s linear;
        img{
          max-width: 200px;
          max-height: 200px;
          box-shadow: 0 0 0 0;
          border-radius: 0;
          margin: 10px;
        }
      &:hover{
        filter: grayscale(100%);
      }
      }

    }
  }
}

/** animation **/
@keyframes slideup {
  100%{
    opacity: 1;
    padding-top:120px;
  }
}