{{!-- Dashboard teamplate used to render all sub-teams--}}

<div class="dashboard-pg">
  <h1>Welcome to UCD Hyperloop team </h1>
    <div class="dashboard-teams">
      {{#each teams}}
      <div class="teams">
        <a href="/admin/team/{{this.team}}">
          <p>{{this.team}}</p>
          <img src={{this.team_img}} alt="team">
        </a>
      </div>
      {{/each}}
    </div>
</div>