{{!-- Subteam teamplate--}}

<div class="col-12 col-md-9 col-lg-10 ml-md-auto content"> 
  <h1>{{teamName}}</h1>
  {{#each teamData}}
    <div>
      <img src={{this.img_link}} alt="team-img">
      <p>{{this.detail}}</p>
    </div>
  {{/each}}
</div>