{{!-- Subteam teamplate--}}
  <div class="content-after-message">
    <div class="row">
      <div class="col-9 ml-auto subteam-pg">
        <h1>{{team}}</h1>
        <hr />
        <div class="subteam-data">
          <div class="subteam-navbar">
            <li name="img" >Team Image</li>
            <li name="desp" >Description</li>
          </div>
          <div class="subteam-body">
            
            <p>{{team_detail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
